<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431181301250-shqfc6hdlmcaeadk7dd5lb71c19jpit6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431181301250-shqfc6hdlmcaeadk7dd5lb71c19jpit6</string>
	<key>API_KEY</key>
	<string>AIzaSyDYQ49MHLt9hGSyxZeoO1iYM-zxvw6QmHs</string>
	<key>GCM_SENDER_ID</key>
	<string>431181301250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.ackee.enterprise.CodecampScrollView</string>
	<key>PROJECT_ID</key>
	<string>simacodecampios</string>
	<key>STORAGE_BUCKET</key>
	<string>simacodecampios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431181301250:ios:708e441a4656d14e</string>
	<key>DATABASE_URL</key>
	<string>https://simacodecampios.firebaseio.com</string>
</dict>
</plist>